In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Importing orders_checked
df_ords = pd.read_csv(r'C:\Users\peter\Documents\04-2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [3]:
# Importing orders prior data
df_ords_prior = pd.read_csv(r'C:\Users\peter\Documents\04-2024 Instacart Basket Analysis\02 Data\Original Data\orders_products_prior.csv', index_col = False)

In [4]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Check the output
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,7.0
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [6]:
df_ords.shape

(3421083, 9)

In [30]:
# Dropping eval _set column from orders.csv
df_ords = df_ords.drop(columns = ['eval_set'])

In [32]:
# Dropping Unnamed: 0.1 column from orders.csv - to get what the exapmle shows in 4.6
df_ords = df_ords.drop(columns = ['Unnamed: 0.1'])

In [33]:
# Dropping Unnamed: 0 column from orders.csv - to get what the exapmle shows in 4.6
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [34]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [35]:
df_ords.shape

(3421083, 6)

In [37]:
df_ords_prior.shape

(32434489, 4)

In [38]:
df_ords.shape

(3421083, 6)

# - TASK DIRECTIONS 1

In [39]:
# MERGING THE TWO DATAFRAMES 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [40]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [41]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [42]:
how = 'outer'

In [44]:
# project folder path into a string
path = r'C:\Users\peter\Documents\04-2024 Instacart Basket Analysis'

In [45]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# TASK DIRECTIONS 2

In [46]:
# Export the merged file in pickle format as “orders_products_combined.pkl”.
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [48]:
df_merged_large.shape

(32434489, 10)

In [49]:
# Export modified df_ords dataframe
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_final.csv'))